@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face{
    font-family: 'Poppins', Serif;
}
body{
    background: linear-gradient(45deg, hsla(157, 50%, 49%, 1) 0%, hsla(156, 70%, 50%, 1) 100%);
      width: 50%;
      margin: 0 auto;
      padding: 50px 0px;
      font-family: 'Poppins';
      font-weight: 600;

}
h1#title{
    text-align: center;
}
div#img img{
    width: 100%;
    height: 450px;
    object-fit: cover;

}
div#tribute-data{
    padding: 30px;
    background-color: #82a79569;
        box-shadow: 15px 22px 15px 3px #86fb98;
}
h1.title-APJ{
    color: #fff;
    text-align: center;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    font-family: Serif;
}
